@import url('https://fonts.googleapis.com/css?family=Exo:600,900');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans Light', 'Exo' ;
    background: #030ff8; 
    font-size: 1.5rem;
}
ul{
   
}

ul li{
    color: #00539cff;
   
}
li{
    color: #00539cff;

}
.navbar{
    background-color: rgb(252, 203, 69) 
}
.navbar > li{

    padding: 0.6rem;
    margin: 0.6rem;
   
    display: inline-block;
    list-style-type: none;
    color: #9c0101;
    ;
}
